<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, autofocus: true %>

  <%= f.text_field :full_name, autofocus: false %>

  <%= f.text_field :username, autofocus: false %>

  <%= f.text_field :phone_number, autofocus: false %>

  <%= f.text_field :rg, autofocus: false %>

  <%= f.text_field :issuing_agency, autofocus: false %>

  <%= f.text_field :cpf, autofocus: false %>

  <%= f.date_field :birth_date, autofocus: false %>

  <%= f.text_field :nationality, autofocus: false %>

  <%= f.text_field :naturality, autofocus: false %>

  <%= f.text_field :residential_address, autofocus: false %>

  <%= f.text_field :cep, autofocus: false %>

  <%= f.text_field :city, autofocus: false %>

  <%= f.text_field :formation, autofocus: false %>

  <%= f.text_field :course, autofocus: false %>

  <%= f.text_field :institution, autofocus: false %>

  <%= f.text_field :profession, autofocus: false %>

  <%= f.password_field :password, autocomplete: "off" %>

  <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
