<%= simple_form_for(@project_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" >

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Project Informations</h3>
  </div>
  <div class="panel-body">
    <div class="form-inputs">
      <div class="form-group">
        <div class="col-md-12">
          <div class="col-md-8">
            <%= f.input :project_title, autofocus: false %>
          </div>
          <div class="col-md-4">
            <%= f.input :project_concept %>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-12">
          <div class="col-md-3">
            <%= f.input :stage, label_method: :current_project_stage, collection: Stage.all(order: 'id')%>
          </div>
          <div class="col-md-3">
            <%= f.input :author %>
          </div>
          <div class="col-md-3">
            <%= f.input :employee %>
          </div>
          <div class="col-md-3">
            <%= f.input :leader %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <div class="col-md-2" >
            <%= link_to :events, "#eventosModal", data: {toggle: "modal"}, class: "btn btn-default"%>
          </div>
          
          
          <div class="col-md-2">      
            <%= f.input :security, label_method: :type_of_security, collection: Security.all(order: 'id')%>
          </div>
        </div>
      </div>

      <!-- Events Modal -->
      <div class="modal fade" id="eventosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title" id="myModalLabel">Eventos</h4>
           </div>
           <div class="modal-body">
             <div class="form-inputs">
               <%= f.association :events, as: :check_boxes %>
             </div>
           </div>
           <div class="modal-footer">
             <%= f.button :submit, "Ok", class: "btn btn-primary" %>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
      </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

 <script>
  $('[data-behaviour~=datepicker]').datepicker({
    "format": "yyyy-mm-dd",
    "weekStart": 1,
    "autoclose": true
  });
</script>

<script>
    

    function hide_event() {
              
        document.getElementById("project_form_event_name").disabled = "true";
        document.getElementById("project_form_event_date").disabled = "true";
        
        toggle_divs();
    }

    function show_event() {
        if(document.getElementById("project_form_event").checked){
        document.getElementById("project_form_event_name").disabled = false;
        document.getElementById("project_form_event_date").disabled = false;}
        else{
          hide_event();
        }
    }


    $('.form-control').popover({
        trigger : 'focus'
    });
  </script>