</div>
<header><div class="container">
	<div class="container-fluid">
		<% if user_signed_in? %>
		  <div class="col-md-12">
		<% else %>
		  <div class="col-md-8">
		<% end %>
			<div class="txtindex">
			<h1 class="center">Participe agora mesmo do Inovatech:</h1>
			</br>
				<div class="col-sm-12 center">
					<div class="col-sm-2">
						<h1 class="fa fa-lightbulb-o fa-4x" style="color: #FFFEA7; text-shadow: 0 0 10px #F3F610; font-size: 100px"></h1>
					</div>
					<div class="col-sm-10">
						<div id="carousel-example-generic" class="carousel slide container-fluid" data-ride="carousel">				
							<div class="carousel-inner">
								<div class="item active">
											<h2>Para pessoas inovadoras, empreendedoras e colaborativas que buscam um espaço para trocar ideias e experiências.</h2>
								</div>

								<div class="item">
											<h2 > Registre suas Ideias, busque parceiros para transforma-las em negócios.</h2>
								</div>

								<div class="item">
											<h2>Receba auxilio de mentores para conduzi-los pelos melhores caminhos e investidores para coloca-las em prática.</h2>
								</div>
							</div>
						</div>
						</br>
						</br>
						</br>
						</br>
					</div>
				</div>		
				</br>
				<section class="center">
					<% if user_signed_in? %>

						<%= link_to 'Cadastrar Projetos', new_project_path, class:"btn btn-default btn-lg col-sm-10 col-sm-offset-1" %>
					<% end %>
				</section>

			</div>
		</div>

		<% unless user_signed_in? %>	
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class=" login-index ">
					<ul id="myTab" class="nav nav-justified">
						<li class="active"><a href="#entrar" data-toggle="tab"><b>Entrar</b></a></li>
						<li><a href="#registrar" data-toggle="tab"><b>Registrar</b></a></li>
					</ul>

					<div id="myTabContent" class="tab-content container-fluid">

						<div class="tab-pane fade in active" id="entrar">
							<%= form_for(:user, :url => session_path(:user)) do |f| %>

								<div style="text-align: left">
									<label for="email">Email :</label>
									<%= f.email_field :email, autofocus: true, class: "form-control", id: "email", placeholder: "exemplo@email.com"%></br>
								</div>

								<div style="text-align: left">
									<label for="password">Senha:</label>
									<%= f.password_field :password, autocomplete: "off",class:"form-control", id:"password", placeholder: "" %>
								</div>
								</br>

								<div style="text-align: left">
									<%= f.submit "Entrar", class: "btn btn-success btn-lg col-xs-12 "%>
								</div>

								<p class="center"> ou conecte-se usando as redes sociais:</p>
								<div class="btn-group btn-group-justified">
									<%= link_to " ", user_omniauth_authorize_path(:twitter), class: " btn btn-lg btn-info fa fa-twitter", id: "btn-twitter"  %>
									<%= link_to " ", user_omniauth_authorize_path(:facebook), class: "btn btn-lg btn-primary fa fa-facebook", id: "btn-facebook" %>
									<%= link_to " ", user_omniauth_authorize_path(:linkedin), class: "btn btn-lg btn-info fa fa-linkedin", id: "btn-linkedin" %>
								</div>
							<% end %>
						</div>
					

						<div class="tab-pane fade" id="registrar">
							<%= simple_form_for(:user, url: registration_path(:user), html: {class: "form-vertical"}) do |f| %>
								<div style="text-align: left">
									<%= f.input :full_name %>
								</div>
								<div style="text-align: left">
									<%= f.input :email%>
								</div>
								<div style="text-align: left">
									<%= f.input :password, autocomplete: "off" %>
								</div>
								<div style="text-align: left">
									<%= f.input :password_confirmation, autocomplete: "off" %>
								</div>
								</br>
								<div style="text-align: left">
									<%= f.submit "Cadastrar", class: "btn btn-success btn-lg col-xs-12 "%>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div></div>
</header>	
<section class="center">

	<div class="container-fluid">
	<div class="container">
		<div class="row" >

			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="" style="overflow:hidden" id="listindex">
					<div class="panel-body">
						<span class="fa fa-rocket fa-4x" style="font-size: 60px"></span>
						<h2>Acompanhe o desenvolvimento dos seus projetos</h2>
						<p class="lead">Você acredita na sua ideia e está precisando de uma ajuda para colocá-la em prática?</p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="" style="overflow:hidden"  id="listindex">
					<div class="panel-body">
						<span class="fa fa-users fa-4x" style="font-size: 60px"></span>
						<h2>Você possui experiência em negócios?</h2>
						<div class="rounded-icons xicon-copy"></div>
						<p class="lead">Venha dividir seu conhecimento com novos empreendedores.</p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="" style="overflow:hidden"  id="listindex">
					<div class="panel-body">
						<span class="fa fa-money fa-4x" style="font-size: 60px"></span>
						<h2>Você quer investir em negócios inovadores e alto impacto?</h2>
						<div class="rounded-icons xicon-rocket"></div>
						<p class="lead">Encontre ótimas ideias aqui.</p>
					</div>
				</div>
			</div>

		</div><%# end row %>
	</div><%# end container %>
	</div>
</section>




	<div class="container">
	<div class="panel panel-default" style="overflow:hidden" >
		<div class="col-sm-12">
			<div class="col-md-7">
				<h2 class="center">Fique por dentro das <strong>últimas notícias !</strong></h2>
			</div>
			<div class="row">
				<br/>
				<div class="col-md-5">
					<div class="btn-group btn-group-justified">
						<a id="btn-ln"class="btn btn-primary " href="#">
							<span class = "fa fa-linkedin"></span> 
						</a>
						<a id="btn-gplus"class="btn btn-danger " href="#">
							<span class = "fa fa-google-plus"></span>
						</a>

						<a id="btn-twitter"class="btn btn-info " href="#">
							<span class = "fa fa-twitter"></span>
						</a>

						<a id="btn-facebook"class="btn btn-primary " href="http://facebook.com/fabsoft">
							<span class = "fa fa-facebook"></span>
						</a>	
					</div>
				</div>
			</div>
			</br>
		</div>	
	</div>	
	</div>