</div>
  </div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
     <div class="item active">
      <img src="/assets/negocios3.jpg" alt="#" width="100%">
      <div class="carousel-caption">
        <h3>Deixe sua idéia aqui!</h3>
        <p>Acolhemos suas idéias com segurança e privacidade</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/negocios1.jpg" alt="#" width="100%">
      <div class="carousel-caption">
        <h3>Faça Parcerias</h3>
    	  <p>Encontre pessoas que acreditam e apostam em suas idéias</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/negocios2.jpg" alt="#" width="100%">
      <div class="carousel-caption">
        <h3>Valorize suas idéias</h3>
    	  <p>...</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="container">
  <div class="row" style="margin-top :-11px">

<div class="cadiv">
    <ul class="ca-menu">
        <li>
            <%= link_to new_project_path do %>
              <span class="ca-icon">A</span>
              <div class="ca-content">
                  <h2 class="ca-main">Register projects</h2>
                  <h3 class="ca-sub"></h3>
              </div>
            <%end%>
        </li>
        <li>
            <%= link_to new_project_path do%>
                <span class="ca-icon">L</span>
                <div class="ca-content">
                    <h2 class="ca-main">Search projects</h2>
                    <h3 class="ca-sub"></h3>
                </div>
            <%end%>
        </li>
        <li>
            <%= link_to new_project_path do%>
                <span class="ca-icon">x</span>
                <div class="ca-content">
                    <h2 class="ca-main">Security and Privacy</h2>
                    <h3 class="ca-sub"></h3>
                </div>
            <%end%>
        </li>
        
        <li>
            <%= link_to new_project_path do%>
                <span class="ca-icon">$</span>
                <div class="ca-content">
                    <h2 class="ca-main">Investment</h2>
                    <h3 class="ca-sub"></h3>
                </div>
            <%end%>
        </li>
        <li>
            <%= link_to new_project_path do%>
                <span class="ca-icon">R</span>
                <div class="ca-content">
                    <h2 class="ca-main">About</h2>
                    <h3 class="ca-sub"></h3>
                </div>
            <%end%>
        </li>
    </ul>
  </div>