<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group">
      <div class="col-md-12">
        <div class="col-md-6">
          <%= f.input :name %>
        </div>
        <div class="col-md-6">
          <%= f.input :date,:as => :string, :input_html => { data: {behaviour: "datepicker"}} %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer"> 
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker({
    "format": "yyyy-mm-dd",
    "weekStart": 1,
    "autoclose": true
  });
</script>
