<div class="page-header">
	<h1>Projects</h1>	
</div>

<% if @projects.empty? %>
	<% flash[:alert] = "Nenhum Projeto Pendente" %>
<% end %>

<% @projects.each do |p| %>
	<div class="jumbotron">
		<p>
			Título: <%= p.title %>
		</p>
		<p>
			Descrição: <%= p.description %>
		</p>
		<p>
			Usuário: <%= p.user.full_name %>
		</p>
		<div style="padding-top: 30px;">
			<%= link_to("Aprovar", approve_projects_path, class: "btn btn-primary btn-lg") if p.situation == "Unapproved" %>
			<%= link_to("Não Aprovar", "/" , class: "btn btn-danger btn-lg") if p.situation == "Unapproved" %>
		</div>
	</div>
<% end %>
