</div>
<div class="titulo">
      <div class="container">
	<h1><%= t '.show' %> <%= t '.project' %> <small>/ <%= @project.title %></small></h1>
      </div>
</div>

<div class="container" style="word-break: break-all">
  <div class="panel-body">
  
  <p>
    <strong><%= t '.title' %>:</strong>
    <%= @project.title %>
  </p>

  <p>
    <strong><%= t '.description' %>:</strong>
    <%= @project.description %>
  </p>    

  <p>
    <strong><%= t '.stage' %>:</strong>
    <%= @project.stage.description %>
  </p>
  <p>
    <strong><%= t '.full_name' %>:</strong>
    <%= @project.permissions %>
  </p>    
  <p>
    <strong><%= t '.visibility' %>:</strong>
    <%= @project.visibility %>
  </p>   

  <p>
    <strong>Manager:</strong>
    <%= User.joins([:permissions, :projects, :profiles]).where("permissions.profile_id = profiles.id AND projects.id = permissions.project_id AND permissions.user_id = users.id AND profiles.name = 'Manager' AND projects.id = #{@project.id}").first.email %>
  </p>   


  </div>


<% if @project.events.count.nonzero? %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t '.event' %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th><%= t '.description' %></td>
          <th><%= t '.data' %></td>
        </tr>
      </thead>
      <tbody>
        <% @project.events.by_date.each do |event| %>
        <tr>
          <td><%= event.description %></td>
          <td><%= event.date %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>


<%= link_to t('links.edit'), edit_project_path(@project), class: "btn btn-primary" %>
<%= link_to t('links.back'), projects_path, class: "btn btn-default" %>
</div>