
	<div id="footer">
		<div class="container">
			<div class="container-fluid">
				<div class="row">
					</br>
					<div class="col-xs-12">
						<div class="col-xs-6 col-md-4 col-md-offset-2">
							<a href="#" class="thumbnail">
								<img src="/assets/fabsoft.png" alt="FabSoft">
							</a>
						</div>
						<div class="col-xs-6 col-md-4">
							<a href="#" class="thumbnail">
								<img src="/assets/LogoNIT.jpg" alt="NIT">
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<h1 style="color: #CBCAFF">Projetos</h1>
						<ul>
							<li><%= link_to 'Inovatech', root_path, class: "footer-link" %></li>
							<li><%= link_to 'Savih', root_path, class: "footer-link" %></li>
							<li><%= link_to 'FS-Frotas', root_path, class: "footer-link" %></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h1 style="color: #CBCAFF">Sobre</h1>
						<ul>
							<li><%= link_to 'A Empresa', root_path, class: "footer-link" %></li>
							<li><%= link_to 'Contato', root_path, class: "footer-link" %></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h1 style="color: #CBCAFF">Serviços</h1>
						<ul>
							<li><%= link_to 'Consultoria', root_path, class: "footer-link" %></li>
							<li><%= link_to 'Parceria', root_path, class: "footer-link" %></li>
						</ul>
					</div>
				</div>
				<br>
				<p class="center" style="color: #FFFFFF">Copyright © <%= Time.now.year %> FabSoft - Cesupa.</p>
			</div>
		</div>
	</div>
