<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= content_for?(:title) ? yield(:title) : "InovaTech" %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', :media => "all" %>

		<!-- For all other devices -->
		<!-- Size should be 32 x 32 pixels -->
		<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
		<%= javascript_include_tag 'application' %>
	</head>

	<body>
		<div id="wrap">
			<div id="st-container" class="st-container">
				<% if user_signed_in? %>
	      	<%= render 'layouts/sidebar'%>
		    <%end%>
	      <%= render 'layouts/navbar' %>
				<%= render 'layouts/messages' %>
				<div class="container">
					<%= yield %>
				</div><!-- /st-container -->	
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>
